.header {
  padding: 15px 130px;
  line-height: 1.6rem;
}
.contactBox {
  float: right;
  margin-left: 10px;
  font-size: 0.99rem;
  color: white;
  text-align: center;
  border: solid 1px white;
  width: 7rem;
}

.industries {
  font-family: Helvetica;
  line-height: 1.15rem;
  color: white;
  font-size: 0.99rem;
}
.services {
  font-family: Helvetica;
  line-height: 1.15rem;
  color: #ffc004;
  font-size: 0.99rem;
}
.aboutUs {
  font-family: Helvetica;
  line-height: 1.15rem;
  color: white;
  font-size: 0.99rem;
}
